<ion-view view-title="Gas">
	<div class="tabs tabs-positive" ng-init="getRecords(gas)">
	  <a class="tab-item" ng-class="{active: isSelected('Calculator')}" ng-click="selectTab('Calculator')">
		Calculator
	  </a>
	  <a class="tab-item" ng-class="{active: isSelected('Tariffs')}" ng-click="selectTab('Tariffs')">
		Tariffs
	  </a>
	  <a class="tab-item" ng-class="{active: isSelected('History')}" ng-click="selectTab('History')">
		History
	  </a> 
	</div>	
	<div class="tab-inner calculator" ng-show="isSelected('Calculator')" >
		<ion-content>
			<div class="list">
				<label class="item item-input item-stacked-label">
					<span class="input-label">Current indexes</span>
					<input type="number" placeholder="0"
						ng-model="temp.curr" >
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Previous indexes</span>
					<input type="number" placeholder="Previous indexes"
						ng-model="temp.prev"
						ng-init="temp.prev=lastRate(gas)" >
				</label>
			</div> 			
			<div class="padding" ng-show="difference()">
				<h5>Difference: {{ difference() }}</h5>
				<h4>To pay: <em>{{ calculate(gas) }}</em></h4>
				<button class="button button-block button-balanced icon ion-checkmark-round" ng-show="calculate(gas)" ng-click="createRecord(gas)"></button>
			</div>	
		</ion-content>
	</div>
	<div class="tab-inner tariffs" ng-show="isSelected('Tariffs')">
		<ion-content>
			<div class="panel-container panel-top" ng-init="getTariffs(gas)" ng-show="gas.data.tariffs.length>0">
				<div class="panel-heading padding">
					<h3 class="panel-title">
						<span>Tariffs</span>
					</h3>
				</div>
				<div class="panel-body" ng-init="getTariffs(gas)">		
					<div class="row">
						<div class="col-75">
							<div class="row">
								<div class="col col-50">m<sup>3</sup></div>
								<div class="col col-50">uah</div>
							</div>
						</div>
					</div>
					<div class="row" ng-repeat="tariff in gas.data.tariffs track by $index">
						<div class="col-75">
							<div class="row">
								<div class="col col-50">
									<label class="item item-input item-stacked-label">
										<input type="number" placeholder="0"									
											ng-model="tariff.rate" 
											ng-change="saveTariff(gas)"
											toggleClass="edditing" >
									</label>
								</div>
								<div class="col col-50">
									<label class="item item-input item-stacked-label">
										<input type="number" placeholder="0"									
											ng-model="tariff.price" 
											ng-change="saveTariff(gas)"
											toggleClass="edditing" >
									</label>
								</div>
							</div>
						</div>
						<div class="col col-25">
							<button class="button button-small button-assertive icon ion-trash-a" ng-click="removeTariff(gas, $index)" title="remove"></button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-container padding panel-bottom">
				<div class="panel-heading">
					<h4 class="panel-title">
						<span>add tariff</span> 
					</h4>
				</div>
				<form name="addtariff">
					<label class="item item-input"
						ng-class="{'error ion-alert-circled': requiredCheck(addtariff.rate)}" >  
						<span class="input-label">m<sup>3</sup></span>
						<input name="rate" type="number" placeholder="0"	
							required						
							ng-model="tariff.rate">
					</label>
					<label class="item item-input"
						ng-class="{'error ion-alert-circled': requiredCheck(addtariff.price)}" >  
						<span class="input-label">uah</span>
						<input name="price" type="number" placeholder="0"		
							required													
							ng-model="tariff.price" >
					</label>
					<button class="button button-block button-balanced icon ion-checkmark-round" 
						ng-click="createTariff(gas, addtariff)">
					</button>
				</form>
			</div>
		</ion-content>
	</div>
	<div class="tab-inner history" ng-show="isSelected('History')">
		<ion-content>
			<div class="padding">
				<h3>History</h3>
				<div class="list list-inset">
				  <label class="item item-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="number" placeholder="Search by date" ng-model="searchString" >
				  </label>
				</div>
				<div class="list">
					<div class="item item-divider">
						<div class="row">
							<div class="col-33">Date</div>
							<div class="col-33">Index</div>
							<div class="col-33">Price</div>
						</div>
					</div>
					<div class="item" ng-repeat="record in gas.data.records | searchFor:searchString">
						<div class="row">
							<div class="col-33">{{ formatDate(record.date) }}</div>
							<div class="col-33">{{ record.rate }}</div>
							<div class="col-33">{{ record.payment }}</div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" ng-click="clearAll()" ng-show="false">DELETE</a>
		</ion-content>
	</div>
</ion-view>